body{
    background-color:dimgray;
}
nav{
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    font-size: 30px;
    text-decoration: none;
    
}
nav-hover {
    color:ivory;
    text-decoration: none;
}
nav a:visited {
    
    color: darkred;
    text-decoration: none;
}
